<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>課題todo</title>
</head>
<body>
<h2 th:action="@{/todo}"method="post">ToDoリスト</h2>
<table border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>タイトル</th>
			<th>優先度</th>
			<th>ステータス</th>
		</tr>
		
	</thead>
	<tbody>
		<tr th:each="todo : ${todos}">
		<td th:text="${todos.getid()}"></td>	
		<td th:text="&{todos.gettitle()}"></td>	
		<td th:text="&{todos.getpriority()}"></td>	
		<td th:text="&{todos.getstatus()}"></td>	
			
		</tr>
		
	</tbody>
	
</table>

</body>
</html>